<div class="container" cg-busy="promise" ng-cloak id="pageTop">

	<div ng-include="'components/navbar/navbar.html'"></div>
	<ol class="breadcrumb">
	  <li><a ui-sref="home" translate>HOME</a></li>
	  <li class="active" translate>ABOUT_ME</li>
	</ol>
	<form class="form-inline" ng-show="$root.authData">
		<div class="form-group">
			<alert ng-show='confirm.msg' type='{{confirm.type}}'>{{confirm.msg}}</alert>
	  	</div>
	</form>
	<form class="form-inline" name="addSkillForm" novalidate ng-submit="addSkill(newSkill)" ng-show="$root.authData">
	  <div class="form-group">
	    <select name="category" id="category"
	    	ng-model="chosenCategory"
	    	required>
	    	<option ng-repeat="option in categories" value="{{option.path}}" ng-selected="{{chosenCategory === option.path }}">
	    		{{option.translationKey | translate }}</option>
	    </select>
	  </div>
	  <div class="form-group"  ng-class="{ 'has-error' : addSkillForm.skill.$invalid && addSkillForm.skill.$touched }">
	    <input type="text" class="form-control" name="skill" placeholder="New Skill" ng-required="true" ng-model="newSkill">
	    <div  ng-messages="addSkillForm.skill.$error" ng-show="addSkillForm.skill.$touched" class="help-block">
          <div ng-message="required">Please enter new skill</div>
        </div>
	  </div>
	  <button type="submit" class="btn btn-primary"	ng-disabled="addSkillForm.$invalid">Submit</button>
	</form>
	<div class="row top-buffer">
		<div class="col-sm-4 col-md-4 col-lg-4">
		    <div class="thumbnail_small">
		      <i class="fa fa-female fa-lg"></i>	
		      <div class="caption">
		        <h3 translate>DESC</h3>
		        <p>{{::me.description}}</p>
		      </div>
		    </div>
		</div>
		<div class="col-sm-4 col-md-4 col-lg-4">
		    <div class="thumbnail_small">
		       <i style="margin: 5px" ng-repeat="item in me.machines.icons track by $index" class="fa fa-lg {{::item}}"></i>
		      <div class="caption">
		        <h3 translate>DEVMACHINE</h3>
		        <p>{{::me.machines.text}}</p>
		      </div>
		    </div>
		</div>
		<div class="col-sm-4 col-md-4 col-lg-4">
		    <div class="thumbnail_small">
			  <i ng-repeat="sm in me.socialMedia track by $index" style="margin: 5px" class="fa {{::sm.icon}} fa-lg"></i>
		      <div class="caption">
		        <h3 translate>SOCIALMEDIA</h3>
		        <ul ng-repeat="sm in me.socialMedia" class="hide_bullet">
			        <li>{{::sm.type}}: <a href="{{::sm.url}}" target='blank'>   {{::sm.url}}</a></li>
			    </ul>
		      </div>
		    </div>
		</div>
 	</div>
 	<div class="row">
		<div class="col-sm-4 col-md-4 col-lg-4">
		    <div class="thumbnail_large">
		       <i style="margin: 5px" ng-repeat="item in me.skills.icons track by $index" class="fa {{::item}} fa-lg"></i>
		      <div class="caption">
		        <h3 translate>SKILL</h3>
		        <ul ng-repeat="(fIndex, item) in me.skills.list track by $index" class="hide_bullet" >
					<div ng-repeat="category in ['skills']" ng-include="'app/about/about_me.itemlist.html'"></div>
			    </ul>
		      </div>
		    </div>
		</div>    
		<div class="col-sm-4 col-md-4 col-lg-4">
			<div class="thumbnail_large">
			   	<i style="margin: 5px" ng-repeat="item in me.frameworks.icons track by $index" class="fa {{::item}} fa-lg"></i>
			    <div class="caption">
			    	<h3 translate>FRAMEWORK</h3>
			        <ul ng-repeat="(fIndex, item) in me.frameworks.list track by $index" class="hide_bullet">
					    <div ng-repeat="category in ['frameworks']" ng-include="'app/about/about_me.itemlist.html'"></div>
				    </ul>
			    </div>
			</div>
	 	</div>
	 	<div class="col-sm-4 col-md-4 col-lg-4">
			<div class="thumbnail_large">
			    <i class="fa fa-database fa-lg"></i>
			    <div class="caption">
			    	<h3 translate>DATABASE</h3>
			    	<ul ng-repeat="(fIndex, item) in me.databases track by $index" class="hide_bullet">
					    <div ng-repeat="category in ['databases']" ng-include="'app/about/about_me.itemlist.html'"></div>
				    </ul>
			    </div>
			</div>
	 	</div>
	 </div>
	 <div class="row">
	 	<div class="col-sm-4 col-md-4 col-lg-4">
			<div class="thumbnail_large">
				<i class="fa fa-desktop fa-lg"></i>
			    <div class="caption">
				    <h3 translate>SERVER</h3>
				    <ul ng-repeat="(fIndex, item) in me.servers track by $index" class="hide_bullet">
					    <div ng-repeat="category in ['servers']" ng-include="'app/about/about_me.itemlist.html'"></div>
					</ul>
			   	</div>
			</div>
	 	</div>
 	 	<div class="col-sm-4 col-md-4 col-lg-4">
			<div class="thumbnail_large">
			   	<i style="margin: 5px" ng-repeat="item in me.mobile.icons track by $index" class="fa {{::item}} fa-lg"></i>
			    <div class="caption">
			    	<h3 translate>MOBILE</h3>
			    	<ul ng-repeat="(fIndex, item) in me.mobile.list track by $index" class="hide_bullet">
				    	<div ng-repeat="category in ['mobile']" ng-include="'app/about/about_me.itemlist.html'"></div>
					</ul>
			   	</div>
			</div>
	 	</div>
 	</div>
 	<div ng-include="'components/navbar/moveToTop.html'"></div>
</div>