<!-- http://stackoverflow.com/questions/14807258/access-index-of-the-parent-ng-repeat-from-child-ng-repeat -->
<!-- http://stackoverflow.com/questions/11412410/angularjs-losing-scope-when-using-ng-include -->
<li class="about-top-buffer">
	<div class="row" ng-show="getVisibility(category, item.$id) ===  true">
		<div class="col-lg-8 col-sm-8 col-md-8">
			{{fIndex + 1}}. {{item.value}}
		</div>
		<div class="col-lg-4 col-sm-4 col-md-4">
			<button type="button" class="btn btn-sm btn-primary"
				ng-click="setVisibility(category, item.$id, false)"><i class="fa fa-pencil"></i></button>

			<button type="button" class="btn btn-sm btn-warning"
				ng-click="removeSkill(category, item, $index)"><i class="fa fa-close"></i></button>

		</div>
	</div>				    		
	<div class="row about-top-buffer" ng-show="getVisibility(category, item.$id) === false">
		<form class="in-line" novalidate name="updateSkillForm" 
			ng-submit="this.saveSkill(category, item.$id)">
			<div class="col-lg-8 col-sm-8 col-md-8">
				{{fIndex + 1}}. <input type="text"  
				ng-model="getVisibleObject(category, item.$id).editValue"></input>
			</div>
			<div class="col-md-4 col-sm-4 col-lg-4">
	    		<button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-check"></i></button>
	    		<button type="button" class="btn btn-sm btn-warning"
	    			ng-click="setVisibility(category, item.$id, true)"><i class="fa fa-undo"></i></button>
			</div>
		</form>
	</div>
</li>