<div class="container">

  <div ng-include="'components/navbar/navbar.html'"></div>

  <div class="jumbotron text-center" ng-init="showPage()">
    <h1 translate>PASSION_WEB_DEV</h1>
    <h3 translate>LOVE_TO_CODE</h3>
    <p class="lead">
      <img src="assets/images/yeoman.png" alt="I'm Yeoman"><br>
      <span translate>HOBBY</span>
    </p>
    <p><button type="button" class="btn btn-lg btn-info" ng-click="scrollToElement('learn_more')"  translate>LEARN_MORE</button></p>

    <p ng-if="$root.authData">
      <button type="button" id="btnAddOrganization" 
          class="btn btn-lg btn-info" ng-click="showOrganizationForm()" translate>ADD_ORGANIZATION</button>
    </p>
  </div>
  <div id="learn_more" class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <h3 translate="NUM_ORG" translate-values="{ value: '{{numOrganization}}'}"></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4" ng-repeat="organization in organizations">
      <div class="thumbnail">
        <div class="caption">
          <div>
            <h3 tooltip="{{organization.name}}">{{organization.name | addEllipsis:20 }}</h3>
            <p><span translate>SHORT_NAME</span> {{organization.code}}</p>
            <p tooltip="{{organization.description}}" tooltip-placement="bottom">
              <span translate>DESCRIPTION</span>{{organization.description | addEllipsis:120 }}
            </p>
            <p><span translate="WEB_SITE"></span><a target="_blank" ng-href="{{organization.url}}">{{organization.url}}</a></p>
            <a ng-href="{{organization.facebook}}" ng-show="organization.facebook" target="_blank" tooltip="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a> 
            <a ng-href="{{organization.meetup}}" ng-show="organization.meetup" target="_blank" tooltip="Meetup"><i class="fa fa-cloud fa-2x"></i></a>
            <p><a ui-sref="events({organization: organization.name, desc : organization.description })">View Events</a></p>
            <p><a ui-sref="home_edit({ id : organization.$id })" ng-show="$root.authData">
                <button type="button" class="btn btn-md btn-default" ng-show="$root.authData" translate>EDIT</button>
                </a>
            </p>                            
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-loader" ng-show="state.isLoading">
    <div class="row">
      <img id="spinner" src="assets/images/loader.gif" >
    </div>
    <div class="row">
      <span translate>LOADING</span>
    </div>
 </div>
  <pager total-items="numOrganization" items-per-page="itemPerPage" ng-model="currentPage" ng-change="pageChanged()"></pager>
</div>
