<div class="container">

  <div ng-include="'components/navbar/navbar.html'"></div>

  <div class="jumbotron text-center" ng-init="showPage()">
    <h1 translate>PASSION_WEB_DEV</h1>
    <h3 translate>LOVE_TO_CODE</h3>
    <p class="lead">
      <img src="assets/images/yeoman.png" alt="I'm Yeoman"><br>
      <span translate>HOBBY</span>
    </p>
    <p><button type="button" class="btn btn-lg btn-info" ng-click="scrollToElement('learn_more')"  translate>LEARN_MORE</button></p>

    <p ng-if="$root.authData">
      <button type="button" id="btnAddOrganization" 
          class="btn btn-lg btn-info" ng-click="showOrganizationForm()" translate>ADD_ORGANIZATION</button>
    </p>
  </div>

  <span id="learn_more"></span>
  <div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="organization in organizations | orderBy:'name'">
      <div class="thumbnail">
        <div class="caption">
          <h3>{{organization.name}}</h3>
          <p><span translate>SHORT_NAME</span> {{organization.code}}</p>
          <p tooltip="{{organization.description}}" tooltip-placement="bottom">
            <span translate>DESCRIPTION</span>{{organization.description | addEllipsis }}
          </p>
          <p><span translate="WEB_SITE"></span><a target="_blank" ng-href="{{organization.url}}">{{organization.url}}</a></p>
          <a ng-href="{{organization.facebook}}" ng-show="organization.facebook" target="_blank" tooltip="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a> 
          <a ng-href="{{organization.meetup}}" ng-show="organization.meetup" target="_blank" tooltip="Meetup"><i class="fa fa-cloud fa-2x"></i></a>
          <p><a ui-sref="events({organization: organization.name, desc : organization.description })">View Events</a></p>
          <p><button type="button" class="btn btn-md btn-default">Edit</button></p>
                
        </div>
      </div>
    </div>
  </div>

  <div class="page-loader" ng-show="isLoading">
    <div class="row">
      <img id="spinner" src="assets/images/loader.gif" >
    </div>
    <div class="row">
      <span translate>LOADING</span>
    </div>
 </div>
</div>
