<div class="thumbnail">
  <div class="caption">
    <div>
      <span class="close" ng-click="removeOrganization(organization.$id)"
        ng-show="$root.authData">x</span>
      <h3 tooltip="{{organization.name}}">{{organization.name | addEllipsis:20 }}</h3>
      <p><span translate>SHORT_NAME</span> {{organization.code}}</p>
      <span translate>DESCRIPTION</span><p ng-text-truncate="organization.description" ng-tt-chars-threshold="150"></p>
      <p><span translate="WEB_SITE"></span><a target="_blank" ng-href="{{organization.url}}">{{organization.url}}</a></p>
      <a ng-href="{{organization.facebook}}" ng-show="organization.facebook" target="_blank" tooltip="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a> 
      <a ng-href="{{organization.meetup}}" ng-show="organization.meetup" target="_blank" tooltip="Meetup"><i class="fa fa-cloud fa-2x"></i></a>
      <a class="pull-right" ui-sref="home_edit({ id : organization.$id })" ng-show="$root.authData">
        <button type="button" class="btn btn-md btn-default" ng-show="$root.authData" translate>EDIT</button>
      </a>
      <p><a ui-sref="events({organizationId: organization.$id })" translate>VIEW_EVENT</a>
      </p>                            
    </div>
  </div>
</div>

<script type="text/ng-template" id="removeOrganiztion.html">
  <div class="modal-header">
    <h3 class="modal-title" translate>DELETE</h3>
  </div>
  <div class="modal-body">
    <span translate>DELETE_ORGANIZATION_MSG</span>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()" translate>CONFIRM</button>
    <button class="btn btn-warning" ng-click="cancel()" translate>CANCEL</button>
  </div>
</script>