<div class="container">

  <div ng-include="'components/navbar/navbar.html'"></div>

  <div class="jumbotron text-center" ng-init="showPage()">
    <h1 translate>PASSION_WEB_DEV</h1>
    <h3 translate>LOVE_TO_CODE</h3>
    <p class="lead">
      <img src="assets/images/yeoman.png" alt="I'm Yeoman"><br>
      <span translate>HOBBY</span>
    </p>
    <p><button type="button" class="btn btn-lg btn-info" ng-click="scrollToElement('learn_more')"  translate>LEARN_MORE</button></p>

    <p ng-if="$root.authData">
      <button type="button" id="btnAddOrganization" 
          class="btn btn-lg btn-info" ng-click="showOrganizationForm()" translate>ADD_ORGANIZATION</button>
    </p>
  </div>

  <span id="learn_more"></span>
  <div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="organization in organizations | orderBy:'name'">
      <div class="thumbnail">
        <div class="caption">
          <div ng-show="!isEditState(organization.$id)">
            <h3 tooltip="{{organization.name}}">{{organization.name | addEllipsis:20 }}</h3>
            <p><span translate>SHORT_NAME</span> {{organization.code}}</p>
            <p tooltip="{{organization.description}}" tooltip-placement="bottom">
              <span translate>DESCRIPTION</span>{{organization.description | addEllipsis:120 }}
            </p>
            <p><span translate="WEB_SITE"></span><a target="_blank" ng-href="{{organization.url}}">{{organization.url}}</a></p>
            <a ng-href="{{organization.facebook}}" ng-show="organization.facebook" target="_blank" tooltip="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a> 
            <a ng-href="{{organization.meetup}}" ng-show="organization.meetup" target="_blank" tooltip="Meetup"><i class="fa fa-cloud fa-2x"></i></a>
            <p><a ui-sref="events({organization: organization.name, desc : organization.description })">View Events</a></p>
            <p><button type="button" class="btn btn-md btn-default" 
              ng-show="$root.authData" ng-click='edit(organization.$id)' translate>EDIT</button>
            </p>                            
          </div>

          <form class="form-horizontal" id="form1" name="form1" ng-submit="save(organization.$id, form1.$valid)" 
            ng-show="isEditState(organization.$id)">
            <div class="form-group" ng-class="{ 'has-error' : form1.organizationName.$invalid && !form1.organizationName.$pristine }">
              <label for="organizationName" translate class="col-sm-3 col-md-3 col-lg-3 control-label">NAME</label>
              <div class="col-sm-9 col-md-9 col-lg-9">
                <input name="organizationName" type="text" class="form-control" ng-model="state.editObj.name" required></input>
                <p class="help-block" ng-show="form1.organizationName.$invalid && !form1.organizationName.$pristine">Please enter name</p>  
              </div>
            </div>
 
            <div class="form-group" ng-class="{ 'has-error' : form1.organizationCode.$invalid && !form1.organizationCode.$pristine }">
              <label for="organizationCode" translate class="col-sm-3 col-md-3 col-lg-3 control-label">SHORT_NAME</label>
              <div class="col-sm-9 col-md-9 col-lg-9">
                <input name="organizationCode" type="text" class="form-control" ng-model="state.editObj.shortname" required></input>
                <p class="help-block" ng-show="form1.organizationCode.$invalid && !form1.organizationCode.$pristine">Please enter short name</p>
              </div>
            </div>
 
            <div class="form-group" ng-class="{ 'has-error' : form1.desc.$invalid && !form1.desc.$pristine }">
              <label for="desc" translate class="col-sm-3 col-md-3 col-lg-3 control-label">DESCRIPTION</label>
              <div class="col-sm-9 col-md-9 col-lg-9">
                <textarea required name="desc" id="desc" class="form-control" ng-model="state.editObj.description">
                </textarea>
                <p class="help-block" ng-show="form1.desc.$invalid && !form1.desc.$pristine">Please enter description</p>
              </div>
            </div>
            
            <div class="form-group" ng-class="{ 'has-error' : form1.website.$invalid && !form1.website.$pristine }">
              <label translate for="website" class="col-sm-3 col-md-3 col-lg-3 control-label">WEB_SITE</label>
              <div class="col-sm-9 col-md-9 col-lg-9">
                <input type="url" name="website" id="website" class="form-control" ng-model="state.editObj.website"></input>
                <p class="help-block" ng-show="form1.website.$invalid && !form1.website.$pristine">Please enter valid url</p>
              </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : form1.facebook.$invalid && !form1.facebook.$pristine }">
              <label for="facebook" class="col-sm-3 col-md-3 col-lg-3 control-label">Facebook:</label>
              <div class="col-sm-9 col-md-9 col-lg-9">
                <input type="url" name="facebook" id="facebook" class="form-control" ng-model="state.editObj.facebook"></input>
                <p class="help-block" ng-show="form1.facebook.$invalid && !form1.facebook.$pristine">Please enter valid url</p>
              </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : form1.meetup.$invalid && !form1.meetup.$pristine }">
              <label for="meetup" class="col-sm-3 col-md-3 col-lg-3 control-label">Meetup:</label>
              <div class="col-sm-9 col-md-9 col-lg-9">
                <input type="url" name="meetup" id="meetup" class="form-control" ng-model="state.editObj.meetup"></input>
                <p class="help-block" ng-show="form1.meetup.$invalid && !form1.meetup.$pristine">Please enter valid url</p>
              </div>
            </div>
            <p><button type="submit" class="btn btn-md btn-default" ng-disabled="form1.$invalid"
              ng-show="$root.authData" ng-click="save(organization.$id)" translate>SAVE</button>
             <button type="button" class="btn btn-md btn-default" 
              ng-show="$root.authData" ng-click="cancel(organization.$id)" translate>CANCEL</button>
            </p>                            
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="page-loader" ng-show="state.isLoading">
    <div class="row">
      <img id="spinner" src="assets/images/loader.gif" >
    </div>
    <div class="row">
      <span translate>LOADING</span>
    </div>
 </div>
</div>
