

  <form class="form-horizontal" name="organizationForm" novalidate
    ng-submit="addOrganization(organizationForm.$valid)"
    style="background: #eee;" cg-busy="promise">
      <div class="modal-header">
            <h3 class="modal-title" translate>ADD_ORGANIZATION</h3>
      </div>

      <div class="page-loader" ng-show="isLoading">
        <div class="row">
          <img id="spinner" src="assets/images/loader.gif" >
        </div>
        <div class="row">
          <span translate>LOADING</span>
        </div>
     </div>

      <alert ng-show="msgObj.message" type="{{msgObj.cssClassName}}">{{msgObj.message | translate }}</alert>

     <div class="form-group" ng-class="{ 'has-error' : organizationForm.shortname.$invalid && organizationForm.shortname.$touched }">
      <label for="shortname" class="col-sm-2 control-label" translate>SHORT_NAME</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="shortname" name="shortname" required
          ng-model="organization.shortname">
        <div class="help-block" ng-messages="organizationForm.shortname.$error" ng-show="organizationForm.shortname.$touched">
          <div ng-message="required">Please enter short name</div>
        </div>
      </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : organizationForm.name.$invalid && organizationForm.name.$touched }">
      <label for="name" class="col-sm-2 control-label" translate>NAME</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="name" name="name" required
          ng-model="organization.name">
        <div ng-messages="organizationForm.name.$error" ng-show="organizationForm.name.$touched" class="help-block">
          <div ng-message="required">Please enter full name</div>
        </div>
      </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : organizationForm.desc.$invalid && organizationForm.desc.$touched }">
      <label for="desc" class="col-sm-2 control-label" translate>DESCRIPTION</label>
      <div class="col-sm-9">
        <textarea ng-model="organization.description" required class="form-control" id="desc" name="desc">{{ 'DESC' | translate }}</textarea>
        <div ng-messages="organizationForm.desc.$error" ng-show="organizationForm.desc.$touched" class="help-block">
          <div ng-message="required">Please enter description</div>
        </div>
      </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : organizationForm.website.$invalid && organizationForm.website.$touched }">
      <label for="website" class="col-sm-2 control-label" translate>WEB_SITE</label>
      <div class="col-sm-9">
        <input type="url" class="form-control" id="website" name="website"
          ng-model="organization.website">
        <div ng-messages="organizationForm.website.$error" ng-show="organizationForm.website.$touched" class="help-block">
          <div ng-message="url">Please enter valid url</div>
        </div>
      </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : organizationForm.nature.$invalid && organizationForm.nature.$touched }">
      <label translate for="nature" class="col-sm-2 col-md-2 col-lg-2 control-label">NATURE</label>
      <div class="col-sm-9 col-md-9 col-lg-9">
        <select required ng-model="organization.nature" class="form-control" id="nature" name="nature"
            ng-options="a.id as a.value for a in organizationTypes"></select>
        <div ng-messages="organizationForm.nature.$error" ng-show="organizationForm.nature.$touched" class="help-block">
          <div ng-message="required">Please select organization type</div>
        </div>
      </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : organizationForm.facebook.$invalid && organizationForm.facebook.$touched }">
      <label for="facebook" class="col-sm-2 control-label">Facebook:</label>
      <div class="col-sm-9">
        <input type="url" class="form-control" id="facebook" name="facebook"
          ng-model="organization.facebook">
        <div ng-messages="organizationForm.facebook.$error" ng-show="organizationForm.facebook.$touched" class="help-block">
          <div ng-message="url">Please enter valid url</div>
        </div>
      </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : organizationForm.meetup.$invalid && organizationForm.meetup.$touched }">
      <label for="meetup" class="col-sm-2 control-label">Meetup:</label>
      <div class="col-sm-9">
        <input type="url" class="form-control" id="meetup" name="meetup"
          ng-model="organization.meetup">
        <div ng-messages="organizationForm.meetup.$error" ng-show="organizationForm.meetup.$touched" class="help-block">
          <div ng-message="url">Please enter valid url</div>
        </div>
      </div>
    </div>
    <!-- div-->
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary"
          ng-disabled="organizationForm.$invalid" translate>ADD</button>
         <button class="btn btn-warning" ng-click="cancel()" translate>CANCEL</button>
    </div>
  </form>
