<div class="container" cg-busy="promises" ng-cloak id="pageTop">

  <div ng-include="'components/navbar/navbar.html'"></div>
	<ol class="breadcrumb">
	  <li><a ui-sref="home" translate>HOME</a></li>
	  <li class="active" translate>TECH</li>
	</ol>
  <div class="row" ng-init="loadPage()">
    <div class="col-sm-4 col-md-4 col-lg-4">
    	<h1 translate="FRONT_END"></h1>
		<accordion close-others="true">	
			<accordion-group is-open="status.open" ng-repeat="item in techModel.frontend track by $index">
		        <accordion-heading>
		            {{item.name}} <i class="pull-right fa" ng-class="{'fa-chevron-down': status.open, 'fa-chevron-right': !status.open}"></i>
		        </accordion-heading>
		        <p>
		        	<a href="{{::item.url}}" target="_blank">{{::item.name}}</a>
		    	</p>
		    	<p>{{::item.description}}</p>
		    	<p ng-show="item.github">
		    		Github: <a href="{{::item.github}}" target="_blank">{{::item.github}}</a>
		    	</p>
		    </accordion-group>
  		</accordion>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
    	<h1 translate="BACK_END"></h1>
    	<accordion close-others="true">	
			<accordion-group is-open="status.open" ng-repeat="item in techModel.backend track by $index">
		        <accordion-heading>
		            {{item.name}} <i class="pull-right fa" ng-class="{'fa-chevron-down': status.open, 'fa-chevron-right': !status.open}"></i>
		        </accordion-heading>
		        <p>
		        	<a href="{{::item.url}}" target="_blank">{{::item.name}}</a>
		    	</p>
		    	<p>{{::item.description}}</p>
		    	<p ng-show="item.github">
		    		Github: <a href="{{::item.github}}" target="_blank">{{::item.github}}</a>
		    	</p>
		    </accordion-group>
  		</accordion>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
    	<h1 translate="TOOLS"></h1>
    	<accordion close-others="true">	
			<accordion-group is-open="status.open" ng-repeat="item in techModel.tool track by $index">
		        <accordion-heading>
		            {{::item.name}} <i class="pull-right fa" ng-class="{'fa-chevron-down': status.open, 'fa-chevron-right': !status.open}"></i>
		        </accordion-heading>
		        <p>
		        	<a href="{{::item.url}}" target="_blank">{{::item.name}}</a>
		    	</p>
		    	<p>{{::item.description}}</p>
		    	<p ng-show="item.github">
		    		Github: <a href="{{::item.github}}" target="_blank">{{::item.github}}</a>
		    	</p>
		    </accordion-group>
  		</accordion>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
    	<h1 translate="HOSTING"></h1>
    	<accordion close-others="true">	
			<accordion-group is-open="status.open" ng-repeat="item in techModel.hosting track by $index">
		        <accordion-heading>
		            {{::item.name}} <i class="pull-right fa" ng-class="{'fa-chevron-down': status.open, 'fa-chevron-right': !status.open}"></i>
		        </accordion-heading>
		        <p>
		        	<a href="{{::item.url}}" target="_blank">{{::item.name}}</a>
		    	</p>
		    	<p>
		        	{{::item.description}}
		    	</p>
		    	<p ng-show="item.github">
		    		Github: <a href="{{::item.github}}" target="_blank">{{::item.github}}</a>
		    	</p>
		    </accordion-group>
  		</accordion>
    </div>
  </div>
  <div ng-include="'components/navbar/moveToTop.html'"></div>
 </div>
</div>