<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavbarCtrl">
  <div class="navbar-header">
    <a class="navbar-brand" ui-sref="home">
      <i class="fa fa-home"></i> <span translate="TITLE"></span>
    </a>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
    <ul class="nav navbar-nav">
      <li ng-class="{ active: isActive('/home') }">
        <a ui-sref="home" translate>HOME</a>
      </li>
      <li ng-class="{ active: isActive('/about_me') }">
        <a ui-sref="about_me" translate>ABOUT</a>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
       <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span translate='LANGUAGE'></span><span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a ng-click="changeLanguage('en')">
              <span translate="ENGLISH"></span></a>
            </li>
            <li><a ng-click="changeLanguage('zh-hk')">
                <span translate="CHINESE"></span>
              </a>
          </li>
          </ul>
        </li>
    </ul>
  </div>
</nav>
