<div class="container">

  <div ng-include="'components/navbar/navbar.html'"></div>
	<h1 ng-init="loadPage()">{{organizationName}}</h1>
	<h3 translate="EVENTS" translate-values="{ value : '{{numEvents}}'}">EVENTS</h3>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-lg-12">
			<label class="btn btn-info btn-lg pull-right" ng-click="showEventForm(organizationId)" ng-show="$root.authData" translate="ADD_EVENT" ></label>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-lg-12">
			<span translate="HASH_TAG"></span>
		</div>
	</div>
	<table>
		<tr>
			<td>
				<span ng-repeat="(key, value) in hashtagSummary">
					<span class="label" ng-class= "{'label-info' : true }">
						{{key}} ({{value}})
					</span>&nbsp;&nbsp;
				</span>
			</td>
		</tr>
	</table>
	<hr/>
	<accordion close-others="true">	
		<accordion-group is-open="status.open" ng-repeat="event in events track by $index">
	        <accordion-heading>
	            {{event.name}} <i class="pull-right fa" ng-class="{'fa-chevron-down': status.open, 'fa-chevron-right': !status.open}"></i>
	        </accordion-heading>
	    	<p>Venue: {{event.venue}}</p>
	        <p>Date: {{event.eventDate | date:'yyyy-MM-dd'}}</p>
	    	<p>Time: {{event.timeFrom | date:'HH:mm'}} - {{event.timeTo | date:'HH:mm'}}</p>
	    	<p>Hashtag: {{event.hashtag}}</p>
	    	<p>Rating: <rating ng-model="event.rate" max="10" readonly="true" state-on="'glyphicon-ok-sign'" state-off="'glyphicon-ok-circle'" ></rating>
	    	<span class="label" ng-class="{'label-warning': event.percent<30, 'label-info': event.percent>=30 && event.percent<70, 'label-success': event.percent>=70}">{{event.percent}}%</span>
	    	</p>
	    	<div ng-show="$root.authData">
	    		<label class="btn btn-danger" ng-click="deleteEvent(organizationId, event.$id)" translate>DELETE</label> &nbsp;&nbsp;
	   			<label class="btn btn-info" ng-click="showEditEventForm(organizationId, event.$id)" translate>EDIT</label>
	   		</div>
	    </accordion-group>
  	</accordion>
  	<div class="row">
  		<div class="col-md-12 col-sm-12 col-lg-12">
			<a ui-sref="home" translate>BACK_HOME</a>
		</div>
	</div>

	<div class="page-loader" ng-show="isLoading">
	    <div class="row">
	      <img id="spinner" src="assets/images/loader.gif" >
	    </div>
	    <div class="row">
	      <span translate>LOADING</span>
	    </div>
	 </div>
</div>